<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.wiks.bitcoinexchangerate" android:versionCode="9" android:versionName="1.0.1">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="Bitcoin Exchange Rate" android:icon="@drawable/icon">
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCTF55JT9KEdXNt3l0g0F9LC_Qesmop168" />
  </application>
</manifest>